<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <link rel='stylesheet' type='text/css' href="{% static '/css/Semantic-UI-CSS-master/semantic.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static '/css/gradient-background.css' %}" />
    <meta charset="UTF-8">
    <title>carnivora</title>
    <meta name="author" content="Philipp Matthes" />
</head>

<body class="gradient-background">

{% block content %}{% endblock %}

</body>
<!--
<div style="font-size: 10px; color: white; text-align: center; padding-top: 20px;">Icons made by <a style="color: white" href="http://www.freepik.com" title="Freepik">Freepik</a> from <a style="color: white" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a style="color: white" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
/-->
</html>