<div class="inline fields" id="button-chain">
{% if active %}
<div class="field">
    <button class="ui red button" onclick="stop_instabot()">Stop Bot</button>
</div>
<script>
function stop_instabot() {
    $.ajax({
        type: "GET",
        url: {% url 'stop_instabot' %}
    })
    .done(function(response) {
        $('#button-chain').replaceWith(response);
    });
}
</script>
{% else %}
<div class="field">
    <button class="ui green button" onclick="run_instabot()">Run Bot</button>
</div>
<div class="field">
    <input class="ui input" type="text" placeholder="Instagram username" id="username">
</div>
<div class="field">
    <input class="ui input" type="password" placeholder="Instagram password" id="password">
</div>

<script>
function run_instabot() {
    var password = document.getElementById('password').value;
    var username = document.getElementById('username').value;
    $.ajax({
        type: "GET",
        url: {% url 'run_instabot' %},
        data: {'password': password, 'username': username}
    })
    .done(function(response) {
        $('#button-chain').replaceWith(response);
    });
}
</script>
{% endif %}
</div>
