<canvas id="hashtags-chart"></canvas>

<script src="static/js/jquery/jquery-3.3.1.min.js"></script>
<script src="static/js/chartjs/Chart.js"></script>

<script>
var ctx = document.getElementById("hashtags-chart").getContext('2d');
var chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ hashtag_names|safe }},
        datasets: [{
            label: 'Hashtag score',
            data: {{ hashtag_scores }},
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>