<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}

{% load static %}

{% block title %}Index{% endblock %}

{% block content %}

<table id="auto-updating-monitor" class="ui table">
    <thead>
        <th>Date</th>
        <th>Description</th>
        <th>Image</th>
    </thead>
</table>

<script src="static/js/jquery/jquery-3.3.1.min.js"></script>
<script>
function get_monitor_updates() {
    console.log("Performing AJAX Request to get monitor updates.");
    $.ajax({
        type: "GET",
        url: {% url 'table_monitor_update' %}
    })
    .done(function(response) {
        $('#auto-updating-monitor').prepend(response);
        console.log("Monitor Updates AJAX Request succeeded.");
    })
}
setInterval(get_monitor_updates, 1000)

</script>

{% endblock %}


</html>