<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}

{% load static %}

{% block title %}Index{% endblock %}

{% block content %}

<table id="_appendHere" class="table table-striped table-condensed">
    <tr>
        <th>Reg.nr.</th>
        <th>M&auml;rke</th>
        <th>Modell</th>
    </tr>
    {% for line in lines %}
        <tr>
            <td>Test1</td>
            <td>Test2</td>
            <td>Test3</td>
        </tr>
    {% endfor %}
</table>

<script src="static/js/jquery/jquery-3.3.1.min.js"></script>
<script>

console.log("1");
var append_increment = 0;
function get_tables() {
    console.log("2");
    $.ajax({
        type: "GET",
        url: {% url 'get_more_tables' %},
        data: {'append_increment': append_increment}
    })
    .done(function(response) {
        $('#_appendHere').append(response);
        append_increment += 10;
        console.log("3");
    })
}
setInterval(get_tables, 1000)

</script>

{% endblock %}


</html>