<!DOCTYPE html>
<html lang="en">

{% load static %}

<link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/>
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">

<head>
    <link rel='stylesheet' type='text/css' href="{% static '/css/Semantic-UI-CSS-master/semantic.css' %}"/>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'>
    <link rel='stylesheet' type='text/css' href="{% static '/css/gradient-background.css' %}"/>
    <meta charset="UTF-8">
    <title>Carnivora</title>
    <meta name="author" content="Philipp Matthes"/>
</head>

<script src="static/js/jquery/jquery-3.3.1.min.js"></script>
<script src="static/js/chartjs/Chart.js"></script>

<body id="main-body"></body>

<script>
    $.ajax({
            type: "GET",
            url: {% url 'main_body' %}
        })
        .done(function(response) {
            $('#main-body').html(response);
        })
</script>

</html>