<div id="auth">
<div class="ui middle aligned center aligned grid" style="padding-top: 160px; padding-bottom: 160px;">
    <div class="column six wide green">
        <h2 class="ui image header" style="color: #FFF;">
            <img src="static/icon/carnivorous-plant-flat.png" class="image">
                <div class="content">
                You are now logged out
                </div>
        </h2>
        <div class="ui fluid large white inverted submit button" onclick="reload()">Reload page</div>
    </div>
</div>

<script>
    function reload() {
        location.reload();
    }
</script>

</div>