<div class="ui fixed menu" style="background-color: #2ecc71;">
    <div class="ui container">
      <a href="#" class="header item" style="color: white;">
        <img class="logo" src="static/icon/carnivorous-plant-flat.png" style="height: 15px; width: 15px; margin-right: 5px;">
        Carnivora
      </a>
      <a class="active item" id="monitor" style="color: white;" onclick="request('/monitor/'); toggle('monitor')">Monitor</a>
    <a class="item" id="statistics" style="color: white;" onclick="request('/statistics/'); toggle('statistics')">Statistics</a>
    {% if request.user.is_superuser %}
    <a class="item" id="settings" style="color: white;" onclick="request('/settings/'); toggle('settings')">Settings</a>
    <a class="item" id="nsfw-check" style="color: white;" onclick="request('/nsfw-check/'); toggle('nsfw-check')">Image Classification</a>
    <div class="right menu">
        <a class="item" id="server" style="color: white;" onclick="request('/server/'); toggle('server')">Server</a>
        <a class="item" id="logout_user" style="color: white;" onclick="request('/logout_user/'); toggle('logout_user')">Logout</a>
    </div>
    {% endif %}
    </div>
  </div>
<div class="ui active inverted dimmer" id="dimmer">
<div class="ui text loader" id="loader">Loading</div>
</div>
<div style="padding-bottom: 60px;"></div>
<p class="ui container" id="ajax-replace"></p>
<script src="static/js/jquery/jquery-3.3.1.min.js"></script>
<script>
    function show_loading_indicator() {
        document.getElementById("dimmer").style.visibility = 'visible';
        document.getElementById("loader").style.visibility = 'visible';
    }

    function hide_loading_indicator() {
        document.getElementById("dimmer").style.visibility = 'hidden';
        document.getElementById("loader").style.visibility = 'hidden';
    }

    function request(url) {
        var timeout = setTimeout(show_loading_indicator(), 500);
        // Set a fake timeout to get the highest timeout id
        var highestTimeoutId = setTimeout(";");
        for (var i = 0 ; i < highestTimeoutId ; i++) {
            clearTimeout(i);
        }
        $.ajax({
            type: "GET",
            url: url
        })
        .done(function(response) {
            $('#ajax-replace').html(response);
            clearTimeout(timeout);
            hide_loading_indicator();
        })
    }
    request('/monitor/')
</script>

<script>
    function toggle(id) {
        var x = document.getElementsByClassName("active item");
        var i;
        for (i = 0; i < x.length; i++) {
            x[i].className = "item";
        }
        document.getElementById(id).className = "active item";
    }
</script>