<div class="ui form">
    <div class="inline fields">
        <button class="ui loading button" id="loading-button" onclick="switch_updates()">Upd.</button>
        <div class="field" style="padding-left: 8px">
            <div class="ui icon input">
                <input type="text" placeholder="Search..." id="search" oninput="get_monitor_updates()">
            </div>
        </div>
        <div id="button-chain"></div>
    </div>
</div>

<img class="ui massive rounded centered image" src="static/img/placeholder-image.png" id="screenshot">

<table class="ui table" style="width: 100%; table-layout: fixed;">
    <colgroup>
        <col style="width:20%">
        <col style="width:70%">
        <col style="width:10%">
    </colgroup>
    <thead>
        <th>Date (UTC)</th>
        <th style="word-wrap: break-word; max-width: 150px;">Description</th>
        <th>Image</th>
    </thead>
    <tbody id="auto-updating-monitor">
    {% for line in lines %}
    <tr>
        <td>{{ line.0 }}</td>
        <td>{{ line.1 }}</td>
        {% if line.2 != "" and line.2 != None %}
            <td><img width="50" height="50" src={{ line.2 }}></td>
        {% else %}
            <td></td>
        {% endif %}
    </tr>
{% endfor %}
    </tbody>
</table>

<script src="static/css/Semantic-UI-CSS-master/semantic.js"></script>
<script>
var interval_id = setInterval(get_monitor_updates, 1000);
var is_updating = true;

function load_button_chain() {
    $.ajax({
        type: "GET",
        url: {% url 'load_button_chain' %},
    })
    .done(function(response) {
        $('#button-chain').replaceWith(response);
    })
}

load_button_chain();

function get_monitor_updates() {
    var search = document.getElementById('search').value;
    $.ajax({
        type: "GET",
        url: {% url 'table_monitor_update' %},
        data: {'search': search}
    })
    .done(function(response) {
        $('#auto-updating-monitor').html(response);
    });
    $.ajax({
        type: "GET",
        url: {% url 'load_screenshot' %}
    })
    .done(function(response) {
        $('#screenshot').replaceWith(response);
        var image = document.getElementById('screenshot').src;
        $("#screenshot").attr("src", image + "?image=" + new Date().getTime());
    });
}

function switch_updates() {
    if (is_updating) {
        document.getElementById('loading-button').className = "ui button";
        document.getElementById('loading-button').textContent = "Start updating monitor";
        clearInterval(interval_id);
    } else {
        document.getElementById('loading-button').className = "ui loading button";
        document.getElementById('loading-button').textContent = "Upd.";
        interval_id = setInterval(get_monitor_updates, 10000);
    }
    is_updating = !is_updating;
}
</script>