<div class="ui fluid action input">
    <input type="text" placeholder="Enter link" id="nsfw-link" oninput="load_image_if_available()">
    <button class="ui button" onclick="check()">Check</button>
</div>
<div id="progress-bar" style="padding-top: 8px;"></div>
<div id="loading-indicator">
    <div class="ui small text loader">Checking</div>
</div>
<img class="ui centered medium rounded image" src="static/img/placeholder-image.png" id="image" style="padding-top: 8px;">


<script>
function check() {
    document.getElementById('loading-indicator').className = "ui active inverted dimmer";
    var nsfw_link = document.getElementById('nsfw-link').value;
    $.ajax({
        type: "GET",
        url: {% url 'submit_to_nsfw' %},
        data: {'nsfw_link': nsfw_link}
    })
    .done(function(response) {
        document.getElementById('loading-indicator').className = "";
        $('#progress-bar').replaceWith(response);
    });
}

function load_image_if_available() {
    var nsfw_link = document.getElementById('nsfw-link').value;
    $.get(nsfw_link)
    .done(function() {
        document.getElementById('image').src = nsfw_link;
    }).fail(function() {
        // Image doesn't exist
    })
}
</script>