<div class="ui segment">
<h2 class="ui header">Disallowed hashtags</h2>
<select id="disallowed-hashtags" class="ui fluid search dropdown" multiple="">
{% for hashtag in nsfw_hashtags %}
    <option value="{{ hashtag }}">{{ hashtag }}</option>
{% endfor %}
</select>
</div>
<div class="ui segment">
<h2 class="ui header">Comments</h2>
<select id="comments" class="ui fluid search dropdown" multiple="">
    {% for comment in comments %}
    <option value="{{ comment }}">{{ comment }}</option>
    {% endfor %}
</select>
</div>
<div class="ui segment">
<h2 class="ui header">Topics</h2>
<select id="topics" class="ui fluid search dropdown" multiple="">
    {% for topic in topics %}
    <option value="{{ topic }}">{{ topic }}</option>
    {% endfor %}
</select>
</div>
<div class="ui segment">
<h2 class="ui header">Smileys</h2>
<select id="smileys" class="ui fluid search dropdown" multiple="">
    {% for smiley in smileys %}
    <option value="{{ smiley }}">{{ smiley }}</option>
    {% endfor %}
</select>
</div>

{% for tuple in filtered_config %}
    <div class="ui labeled fluid input" style="padding: 8px;">
        <div class="ui label">{{ tuple.0 }}</div>
        <input type="text" value="{{ tuple.1 }}" id="{{ tuple.0 }}">
        <button class="ui button"
                style="margin-left: 8px;"
                id="{{ tuple.0 }}-button"
                onclick="submit_to_config('{{ tuple.0 }}', '{{ tuple.0 }}')">
            Submit
        </button>
    </div>
{% endfor %}

<script>
$('#disallowed-hashtags').dropdown({allowAdditions: true});
$('#disallowed-hashtags').dropdown('set selected', {{ nsfw_hashtags|safe }});
$('#comments').dropdown({allowAdditions: true});
$('#comments').dropdown('set selected', {{ comments|safe }});
$('#topics').dropdown({allowAdditions: true});
$('#topics').dropdown('set selected', {{ topics|safe }});
$('#smileys').dropdown({allowAdditions: true});
$('#smileys').dropdown('set selected', {{ smileys|safe }});


function submit_to_config(config_key, input_id) {
    document.getElementById(input_id+"-button").className = "ui loading button";
    var config_param = document.getElementById(input_id).value;
    $.ajax({
        type: "GET",
        url: {% url 'submit_to_config' %},
        data: {'config_key': config_key, 'config_param': config_param}
    })
    .done(function(response) {
        document.getElementById(input_id+"-button").className = "ui button";
        $('#'+input_id).replaceWith(response);
    });
}
</script>